apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - repo
  - namespace.yaml
  - external-dns.yaml
  - oidc-secret.yaml
  - tlsroute.yaml
  - app-of-apps.yaml
  - argo-appproject.yaml
  - https://github.com/argoproj/argo-cd/manifests/crds?ref=v3.2.3
