---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
defaultPodOptions:
  automountServiceAccountToken: false
  enableServiceLinks: false
  restartPolicy: Always

controllers:
  main:
    enabled: true
    type: statefulset
    replicas: 1
    revisionHistoryLimit: 2
    pod:
      hostNetwork: false
      hostPID: false
      hostIPC: false
      dnsPolicy: ClusterFirst
    containers:
      main:
        ports:
          - name: game
            containerPort: 2456
            protocol: UDP
          - name: query
            containerPort: 2457
            protocol: UDP
        image:
          repository: ghcr.io/lloesche/valheim-server
          tag: "latest"
          pullPolicy: "Always"
        securityContext:
          allowPrivilegeEscalation: false
          # privileged: false
          # readOnlyRootFilesystem: false
          # runAsNonRoot: false
          # runAsUser: 0
          # runAsGroup: 0
          # procMount: Default
          # seccompProfile:
          #   type: RuntimeDefault
          # capabilities:
          #   drop:
          #     - ALL
          #   add:
          #     - SYS_NICE
          #     - CAP_NET_ADMIN
        env:
          - name: SERVER_NAME
            value: "Biscuitville"
          - name: WORLD_NAME
            value: "Biscuithalla"
          - name: SERVER_PASS
            valueFrom:
              secretKeyRef:
                name: valheim-secrets
                key: SERVER_PASS
          - name: TZ
            value: "UTC"
        resources:
          limits:
            cpu: 4000m
            memory: 8Gi
          requests:
            cpu: 2000m
            memory: 4Gi
        lifecycle: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File

service:
  main:
    enabled: true
    controller: main
    primary: true
    type: LoadBalancer
    loadBalancerIP: 172.31.0.32
    ports:
      game:
        enabled: true
        port: 2456
        targetPort: game
        protocol: UDP
      query:
        enabled: true
        port: 2457
        targetPort: query
        protocol: UDP
  extname:
    enabled: true
    primary: false
    controller: main
    type: ExternalName
    externalName: unifi-home.homelab.danmanners.com
    annotations:
      external-dns.alpha.kubernetes.io/hostname: valheim.cloud.danmanners.com
      external-dns.alpha.kubernetes.io/ttl: "300"

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block-retain
    accessMode: ReadWriteOnce
    size: 10Gi
    retain: true
    advancedMounts:
      main:
        main:
          - path: /config
            readOnly: false
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block-retain
    accessMode: ReadWriteOnce
    size: 20Gi
    retain: true
    advancedMounts:
      main:
        main:
          - path: /opt/valheim
            readOnly: false
