---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  labels:
    chartVersion: &chartVersion 1.18.6
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: &url https://github.com/GoodMannersHosting/home-enterprise-labops.git
      targetRevision: main
      path: kubernetes/core/kube-system/cilium/bgp
    - repoURL: *url
      targetRevision: main
      ref: values
    - repoURL: https://helm.cilium.io/
      chart: cilium
      targetRevision: *chartVersion
      helm:
        valueFiles:
          - $values/kubernetes/core/kube-system/cilium/values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
