---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingress
  namespace: argocd
  labels:
    chartVersion: &chartVersion 1.28.3
spec:
  destination:
    namespace: istio-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://istio-release.storage.googleapis.com/charts
      name: &gw gateway
      chart: *gw
      targetRevision: *chartVersion
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
