---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
  labels:
    chartVersion: &chartVersion 81.4.2
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://github.com/GoodMannersHosting/home-enterprise-labops.git
      targetRevision: main
      ref: values
    - name: controller
      repoURL: ghcr.io/prometheus-community/charts
      chart: kube-prometheus-stack
      targetRevision: *chartVersion
      helm:
        valueFiles:
          - $values/kubernetes/core/monitoring/values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
