---
# Argo Workflows with Keycloak OIDC SSO
# Exposed at https://workflows.cloud.danmanners.com

server:
  # client: Bearer token for API (events webhook); sso: Keycloak for UI
  authModes:
    - client
    - sso
  hostAliases:
    - ip: "172.31.0.10"
      hostnames:
        - "keycloak.cloud.danmanners.com"
  httproute:
    enabled: true
    hostnames:
      - workflows.cloud.danmanners.com
    parentRefs:
      - name: gwapi
        namespace: default
        kind: Gateway
        group: gateway.networking.k8s.io
        sectionName: https-cloud
  sso:
    enabled: true
    issuer: https://keycloak.cloud.danmanners.com/realms/gmh
    redirectUrl: https://workflows.cloud.danmanners.com/oauth2/callback
    clientId:
      name: argo-workflows-sso
      key: client-id
    clientSecret:
      name: argo-workflows-sso
      key: client-secret
    scopes:
      - openid
      - profile
      - groups
    rbac:
      enabled: true
      secretWhitelist:
        - argo-workflows-sso
        - admin-user.service-account-token

# SSO RBAC: Only ArgoCDAdmins can access; no fallback for other users
extraObjects:
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: admin-user
      namespace: argo
      annotations:
        workflows.argoproj.io/rbac-rule: "'ArgoCDAdmins' in groups"
        workflows.argoproj.io/rbac-rule-precedence: "1"
  - apiVersion: v1
    kind: Secret
    metadata:
      name: admin-user.service-account-token
      namespace: argo
      annotations:
        kubernetes.io/service-account.name: admin-user
    type: kubernetes.io/service-account-token
  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: argo-workflows-custom-admin
    rules:
      - apiGroups:
          - argoproj.io
        resources:
          - workflows
          - workfloweventbindings
          - workfloweventbindings/finalizers
          - workflowtemplates
          - workflowtemplates/finalizers
          - clusterworkflowtemplates
          - clusterworkflowtemplates/finalizers
          - cronworkflows
          - cronworkflows/finalizers
          - eventsources
          - sensors
          - eventbuses
        verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
      - apiGroups:
          - events.argoproj.io
        resources:
          - eventsources
          - sensors
          - eventbuses
        verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
      - apiGroups:
          - ""
        resources:
          - pods
          - pods/log
          - configmaps
          - persistentvolumeclaims
        verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
  - apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    metadata:
      name: argo-workflows-custom-admin
    roleRef:
      apiGroup: rbac.authorization.k8s.io
      kind: ClusterRole
      name: argo-workflows-custom-admin
    subjects:
      - kind: ServiceAccount
        name: admin-user
        namespace: argo
