---
# Argo Workflows with Keycloak OIDC SSO
# Exposed at https://workflows.cloud.danmanners.com

server:
  authModes:
    - sso
  hostAliases:
    - ip: "172.31.0.10"
      hostnames:
        - "keycloak.cloud.danmanners.com"
  httproute:
    enabled: true
    hostnames:
      - workflows.cloud.danmanners.com
    parentRefs:
      - name: gwapi
        namespace: default
        kind: Gateway
        group: gateway.networking.k8s.io
        sectionName: https-cloud
  sso:
    enabled: true
    issuer: https://keycloak.cloud.danmanners.com/realms/gmh
    redirectUrl: https://workflows.cloud.danmanners.com/oauth2/callback
    clientId:
      name: argo-workflows-sso
      key: client-id
    clientSecret:
      name: argo-workflows-sso
      key: client-secret
    scopes:
      - groups
    rbac:
      enabled: true

# SSO RBAC: Admin ServiceAccount for ArgoCDAdmins group
extraObjects:
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: admin-user
      namespace: argo
      annotations:
        workflows.argoproj.io/rbac-rule: "'ArgoCDAdmins' in groups"
        workflows.argoproj.io/rbac-rule-precedence: "1"
  # - apiVersion: rbac.authorization.k8s.io/v1
  #   kind: ClusterRole
  #   metadata:
  #     name: argo-workflows-admin
  #   rules:
  #     - apiGroups:
  #         - argoproj.io
  #       resources:
  #         - workflows
  #         - workfloweventbindings
  #         - workfloweventbindings/finalizers
  #         - workflowtemplates
  #         - workflowtemplates/finalizers
  #         - clusterworkflowtemplates
  #         - clusterworkflowtemplates/finalizers
  #         - cronworkflows
  #         - cronworkflows/finalizers
  #       verbs:
  #         - create
  #         - delete
  #         - get
  #         - list
  #         - patch
  #         - update
  #         - watch
  #     - apiGroups:
  #         - ""
  #       resources:
  #         - pods
  #         - pods/log
  #         - configmaps
  #         - persistentvolumeclaims
  #       verbs:
  #         - create
  #         - delete
  #         - get
  #         - list
  #         - patch
  #         - update
  #         - watch
  # - apiVersion: rbac.authorization.k8s.io/v1
  #   kind: ClusterRoleBinding
  #   metadata:
  #     name: argo-workflows-admin
  #   roleRef:
  #     apiGroup: rbac.authorization.k8s.io
  #     kind: ClusterRole
  #     name: argo-workflows-admin
  #   subjects:
  #     - kind: ServiceAccount
  #       name: admin-user
  #       namespace: argo
