capi-core-capi-core-cn1.homelab.danmanners.com.yaml
capi-core-capi-core-wn1.homelab.danmanners.com.yaml
capi-core-capi-core-wn2.homelab.danmanners.com.yaml
talosconfig
capi-core-capi-core-cn2.homelab.danmanners.com.yaml
capi-core-capi-core-cn3.homelab.danmanners.com.yaml
capi-core-capi-core-wn3.homelab.danmanners.com.yaml
capi-core-capi-core-wn4.homelab.danmanners.com.yaml
capi-core-capi-core-wn5.homelab.danmanners.com.yaml
capi-core-capi-core-wn99.homelab.danmanners.com.yaml
capi-core-capi-core-wn98.homelab.danmanners.com.yaml
