githubConfigUrl: "https://github.com/goodmannershosting"
githubConfigSecret: gh-app-goodmannershosting
minRunners: 1
maxRunners: 6
runnerGroup: "nvidia"
runnerScaleSetName: "shr"
containerMode:
  type: "dind"

  listenerTemplate:
    spec:
      containers:
        - name: listener
          securityContext:
            runAsUser: 1000

controllerServiceAccount:
  namespace: github
  name: arc

template:
  template:
    spec:
      initContainers:
        - name: init-dind-externals
          image: ghcr.io/actions/actions-runner:latest
          command:
            ["cp", "-r", "/home/runner/externals/.", "/home/runner/tmpDir/"]
          volumeMounts:
            - name: dind-externals
              mountPath: /home/runner/tmpDir
        - name: dind
          image: docker:dind
          args:
            - dockerd
            - --host=unix:///var/run/docker.sock
            - --group=$(DOCKER_GROUP_GID)
          env:
            - name: DOCKER_GROUP_GID
              value: "123"
          securityContext:
            privileged: true
          restartPolicy: Always
          startupProbe:
            exec:
              command:
                - docker
                - info
            initialDelaySeconds: 0
            failureThreshold: 24
            periodSeconds: 5
          volumeMounts:
            - name: work
              mountPath: /home/runner/_work
            - name: dind-sock
              mountPath: /var/run
            - name: dind-externals
              mountPath: /home/runner/externals
      containers:
        - name: runner
          image: ghcr.io/actions/actions-runner:latest
          command: ["/home/runner/run.sh"]
          env:
            - name: DOCKER_HOST
              value: unix:///var/run/docker.sock
            - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
              value: "120"
          volumeMounts:
            - name: work
              mountPath: /home/runner/_work
            - name: dind-sock
              mountPath: /var/run
      volumes:
        - name: work
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                storageClassName: "ceph-block"
                resources:
                  requests:
                    storage: 10Gi
        - name: dind-sock
          emptyDir: {}
        - name: dind-externals
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                storageClassName: "ceph-block"
                resources:
                  requests:
                    storage: 10Gi
